<!-- historico_vendas.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Histórico de Vendas</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <main id="container">
        <aside id="left-container">
            <ul>
                <h1>Gerenciador de Estoque</h1>
                <li><a href="/add">Adicionar Produto</a></li>
                <li><a href="/consult">Consultar Estoque</a></li>
                <li><a href="/historic">Histórico de Vendas</a></li>
            </ul>
        </aside>
    <section id="right-container">
    <h1>Histórico de Vendas</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Venda ID</th>
                <th>Produto ID</th>
                <th>Data da Venda</th>
                <th>Quantidade</th>
                <th>Preço Unitário</th>
                <th>Valor Total</th>
            </tr>
        </thead>
        <tbody>
            {% for row in historico %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
                <td>{{ row[4] }}</td>
                <td>{{ row[5] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
</main>
</body>
</html>
